<div class="burger-menu" data-burger>
  <div class="burger-overlay" data-burger-overlay></div>
  <div class="burger-panel">
    <div class="burger-top">
      <a class="burger-logo" href="/src/index.html">
        <img
          src="../img/logo-company.svg"
          alt="Хатинка Лапок"
          width="160"
          height="68"
        />
      </a>

      <button
        class="burger-close-btn"
        type="button"
        aria-label="Закрити меню"
        data-burger-close
      >
        <svg
          class="burger-icon-close"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="burger-nav">
      <ul class="burger-list">
        <li class="burger-item">
          <a class="burger-link" href="#pets" data-burger-link>Знайди друга</a>
        </li>
        <li class="burger-item">
          <a class="burger-link" href="#about" data-burger-link>Про нас</a>
        </li>
        <li class="burger-item">
          <a class="burger-link" href="#faq" data-burger-link
            >Часті запитання</a
          >
        </li>
        <li class="burger-item">
          <a class="burger-link" href="#testimonials" data-burger-link
            >Історії успіху</a
          >
        </li>
      </ul>
    </nav>
    <a class="burger-low-btn" href="#pets" data-burger-link>Взяти друга</a>
  </div>
</div>
